In [22]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [23]:
ratings = pd.read_csv('ratings.csv',usecols=['userId','movieId','rating'])
movies = pd.read_csv('movies.csv',usecols=['movieId','title'])
ratings2 = pd.merge(ratings,movies, how= 'inner',on='movieId')

ratings2.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [24]:
df = ratings2.pivot_table(index = 'title',columns='userId',values='rating')
df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Salem's Lot (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df=df.fillna(0)
df1 = df.copy()
df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
no_user_voted = ratings2.groupby('title')['rating'].agg('count')
no_movies_voted = ratings2.groupby('userId')['rating'].agg('count')

df = df.loc[no_user_voted[no_user_voted >10].index,:]
df = df.loc[:,no_movies_voted[no_movies_voted > 50].index]

df.head()

userId,1,4,6,7,10,11,15,16,17,18,...,600,601,602,603,604,605,606,607,608,610
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
(500) Days of Summer (2009),0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
10 Cloverfield Lane (2016),0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0
"10,000 BC (2008)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
def recommend_movies(user,num_recommended_movies):
    
    print('The list of the movies user-{} has watched \n'.format(user))
    
    df3=df[df[user]>0][user]
    df3.tolist()
    print(df3)    
    print('\n')
    
    recommended_movies = []
    for m in df[df[user] == 0].index.tolist():
            index_df = df.index.tolist().index(m)
            predicted_rating = df1.iloc[index_df,df.columns.tolist().index(user)]
            recommended_movies.append((m,predicted_rating))
     
    sorted_rm = sorted(recommended_movies,key=lambda x:x[1], reverse =True)
    print('the list of the Recommended Movies\n')
    rank =1
    for recommended_movie in sorted_rm[:num_recommended_movies]:
        
        print('{}: {} - predicted rating:{}'.format(rank, recommended_movie[0], recommended_movie[1]))
        rank = rank+1

In [28]:
def movie_recommender(user,num_neighbors, num_recommendation):
    
    number_neighbors = num_neighbors
    knn = NearestNeighbors(metric = 'cosine',algorithm = 'brute')
    knn.fit(df.values)
    distances,indices = knn.kneighbors(df.values,n_neighbors = number_neighbors)
    
    user_index = df.columns.tolist().index(user)
    
    for m,t in list(enumerate(df.index)):
        if df.iloc[m,user_index] == 0:
            sim_movies = indices[m].tolist()
            movie_distances = distances[m].tolist()
            
            if m in sim_movies:
                id_movie = sim_movies.index(m)
                sim_movies.remove(m)
                movie_distances.pop(id_movie)
               
            
            else:
                sim_movies = sim_movies[:num_neighbors-1]
                movie_distances = movie_distances[:num_neighbors-1]
                
        movie_similarity = [1-x for x in movie_distances]
        movie_similarity_copy = movie_similarity.copy()
        nominator =0
        
        for s in range(0, len(movie_similarity)):
            if df.iloc[sim_movies[s],user_index] == 0:
                if len(movie_similarity_copy) == (number_neighbors -1):
                    movie_similarity_copy.pop(s)
                    
                 
                else:
                    movie_similarity_copy.pop(s-(len(movie_similarity) -len(movie_similarity_copy)))
                    
                   
               
            else:
                nominator = nominator + movie_similarity[s]*df.iloc[sim_movies[s], user_index]
            
           
        if len(movie_similarity_copy) > 0:
            if sum(movie_similarity_copy) >0:
                predicted_r = nominator/sum(movie_similarity_copy)
                
               
            else:
                predicted_r = 0
               
           
        else:
            predicted_r =0
            
        df.iloc[m,user_index] = predicted_r
        
       
    recommend_movies(user,num_recommendation)

In [29]:
movie_recommender(10,7,5)

The list of the movies user-10 has watched

title
(500) Days of Summer (2009)          2.500000
10 Cloverfield Lane (2016)           0.749783
10 Things I Hate About You (1999)    3.315582
12 Angry Men (1957)                  4.000000
12 Years a Slave (2013)              2.724895
                                       ...
Zoolander (2001)                     3.496315
Zootopia (2016)                      3.815894
eXistenZ (1999)                      2.305682
xXx (2002)                           3.748836
Â¡Three Amigos! (1986)                4.000000
Name: 10, Length: 1210, dtype: float64


the list of the Recommended Movies

1: Hot Shots! (1991) - predicted rating:5.0
2: Forrest Gump (1994) - predicted rating:4.0
3: Ninja Scroll (JÃ»bei ninpÃ»chÃ´) (1995) - predicted rating:4.0
4: Before Sunset (2004) - predicted rating:3.0
5: Dr. Dolittle 2 (2001) - predicted rating:3.0